.splitscreen {
  width: 40%;
  font-size: 0.6em !important;
  line-height: 1.2em !important;
}

.splitscreen img{
  width: 100%;
  border: none !important;
  box-shadow: none !important;
}

.persona {
  width: 40%;
  font-size: 0.6em !important;
  line-height: 1.2em !important;
}

.persona img{
  width: 50%;
  border-radius: 50%;
  border: none !important;
  box-shadow: none !important;
}

.panel {
  width: 50%;
  font-size: 0.6em !important;
  line-height: 1em !important;
}

.panel img{
  width: 30%;
  border-radius: 50%;
  font-size: 0.1em !important;
  line-height: 1em !important;
  border: none !important;
  box-shadow: none !important;
}

.personastatementtop {
  width: 50%;
  font-size: 0.8em !important;
  line-height: 1.2em !important;
}

.personastatementpic img{
  width: 50%;
  border-radius: 50%;
  font-size: 0.4em !important;
  line-height: 1.2em !important;
  border: none !important;
  box-shadow: none !important;
}

.personastatementbottom {
  width: 100%;
  font-size: 1em !important;
  line-height: 1.2em !important;
}

.personastatementbottom img{
  width: 100%;
  font-size: 1em !important;
  line-height: 1.2em !important;
  border: none !important;
  box-shadow: none !important;
}

.personastatementright{
  width: 60%;
  font-size: 1.5em !important;
  line-height: 1.2em !important;
}

.personastatementright img{
  width: 80%;
  font-size: 1.5em !important;
  line-height: 1.2em !important;
  border: none !important;
  box-shadow: none !important;
}

.full img{
  border: none !important;
  box-shadow: none !important;
}

.logoorb img{
  border: none !important;
  box-shadow: none !important;
  width: 20%;
}